<?xml version="1.0"?>
<config>
  <modules>
    <Morroni_Customreports>
      <version>3.3.4</version>
    </Morroni_Customreports>
  </modules>
  <global>
    <models>
      <morroni_customreports>
        <class>Morroni_Customreports_Model</class>
      </morroni_customreports>
    </models>
  </global>
  <adminhtml>
    <events>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <morroni_core_block_abstract_prepare_layout_before>
	    <model>morroni_customreports/adminhtml_sales_order_grid_observer</model>
	    <method>morroni_core_order_grid_actions</method>
          </morroni_core_block_abstract_prepare_layout_before>
        </observers>
      </core_block_abstract_prepare_layout_before>
    </events>
  </adminhtml>
  <admin>
    <routers>
      <mgcustom>
        <use>admin</use>
        <args>
          <module>Morroni_Customreports</module>
          <frontName>mgcustom</frontName>
        </args>
      </mgcustom>
    </routers>
  </admin>
</config>
