<?xml version="1.0"?>
<config>
    <modules>
        <Emja_TaxRelief>
            <version>2.6.0</version>
        </Emja_TaxRelief>
    </modules>
    <global>
        <blocks>
            <emja_taxrelief>
                <class>Emja_TaxRelief_Block</class>
            </emja_taxrelief>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>Emja_TaxRelief_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                    <sales_order_create_billing_method_form>Emja_TaxRelief_Block_Adminhtml_Sales_Order_Create_Billing_Method_Form</sales_order_create_billing_method_form>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_info>Emja_TaxRelief_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <multishipping_payment_info>Emja_TaxRelief_Block_Checkout_Multishipping_Payment_Info</multishipping_payment_info>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <emja_taxrelief>
                <class>Emja_TaxRelief_Model</class>
				<resourceModel>Emja_TaxRelief_Model</resourceModel>
            </emja_taxrelief>
            <emja_taxrelief_mysql4>
                <class>Emja_TaxRelief_Model_Mysql4</class>
            </emja_taxrelief_mysql4>
        </models>
        <helpers>
            <emja_taxrelief>
                <class>Emja_TaxRelief_Helper</class>
            </emja_taxrelief>
        </helpers>
        <resources>
            <emja_taxrelief_setup>
                <setup>
                    <module>Emja_TaxRelief</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emja_taxrelief_setup>
            <emja_taxrelief_write>
              <connection>
                <use>core_write</use>
              </connection>
            </emja_taxrelief_write>
            <emja_taxrelief_read>
              <connection>
                <use>core_read</use>
              </connection>
            </emja_taxrelief_read>
        </resources>
        <events>
            <tax_rate_data_fetch>
                <observers>
                    <emja_taxrelief>
                        <type>singleton</type>
                        <class>emja_taxrelief/tax_observer</class>
                        <method>applyTaxRelief</method>
                    </emja_taxrelief>
                </observers>
            </tax_rate_data_fetch>
            <sales_quote_collect_totals_before>
                <observers>
                    <emja_taxrelief>
                        <type>singleton</type>
                        <class>emja_taxrelief/tax_observer</class>
                        <method>applyTaxReliefQuote</method>
                    </emja_taxrelief>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_payment_import_data_before>
                <observers>
                    <emja_taxrelief>
                        <type>singleton</type>
                        <class>emja_taxrelief/sales_observer</class>
                        <method>importTaxReliefData</method>
                    </emja_taxrelief>
                </observers>
            </sales_quote_payment_import_data_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <emja_taxrelief>
                        <class>emja_taxrelief/sales_observer</class>
                        <type>singleton</type>
                        <method>resetTaxReliefData</method>
                    </emja_taxrelief>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
        <fieldsets>
            <sales_convert_quote_payment>
                <tax_relief_code><to_order_payment>*</to_order_payment></tax_relief_code>
                <tax_relief_state><to_order_payment>*</to_order_payment></tax_relief_state>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <emja_taxrelief>
                    <file>emja_taxrelief.xml</file>
                </emja_taxrelief>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <emja_taxrelief>
                    <file>emja_taxrelief.xml</file>
                </emja_taxrelief>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>EmjaInteractive TaxRelief</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <emja_taxrelief>
                                            <title>EmjaInteractive TaxRelief</title>
                                        </emja_taxrelief>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
		<emja_taxrelief>
			<labels>
			    <checkbox_text>Tax Exempt</checkbox_text>
			    <tax_number_label>Tax Exempt Number</tax_number_label>
			    <tax_state_label>Tax Exempt State</tax_state_label>
			</labels>
			<settings>
			    <tax_rate>0</tax_rate>
			</settings>
		</emja_taxrelief>
    </default>
</config>
